@model IEnumerable<EventEase_01.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Didn't Find Your Venue ? Add a New Venue '</h1>

<p>
    @* <form asp-action="Create">
        @* <button type="submit">Add a New Venue </button> 
        <button type="submit" class="btn btn-dark">Add a New Venue</button>
    </form> *@

    <a asp-action="Create">Create New</a>
@*     <button asp-action="Create" class="btn btn-dark">Add a New Venue</button> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
