@model IEnumerable<EventEase_01.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Events</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTickets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTickets)
            </td>
            <td>
                    <button onclick="location.href='@Url.Action("Edit", "AdminEvents", new { id = item.EventId})'">Edit</button>
      <button onclick="location.href='@Url.Action("Details", "AdminEvents", new { id = item.EventId })'">Details</button>
      <button onclick="location.href='@Url.Action("Delete", "AdminEvents", new { id = item.EventId })'">Delete</button>
             @*    <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
