@model Event
<head>
    <style>
        .seat-container {
            border: 1px solid black;
            padding: 10px;
            display: inline-block;
            background-color: red;
        }

        .selected {
            background-color: #00FF00;
            color: #FFFFFF;
        }
    </style>
</head>
<h2>@(Model?.EventName ?? "Event Name")</h2>
@if (Model?.NumberOfTickets != null)
{
    var tickets = ViewData["Tickets"] as List<Ticket>;
    if (tickets != null )
    {
        <div class="seat-container">
            @for (int i = 0; i <Model.NumberOfTickets; i++)
            {
                if (i < tickets.Count)
                {
                var ticketId = tickets[i].TicketId;
                var ticketAvailability = tickets[i].TicketAvailability;
                <button class="seat @(ticketAvailability == 0 ? "unavailable" : "available")" 
                data-ticket-id="@ticketId"
                @(ticketAvailability == 0 ? "disabled" : "")>
                    S-@(i + 1)
                </button>
            }
    else
    {
            <button class="seat unavailable" disabled>
                S-@(i+1)
            </button>
    }
    }
        </div>
}
}
<br />
<br />
<div class="text-center">
    @Html.ActionLink("Proceed To Checkout", "UpdateSeatStatus", "User", null, new { @class = "btn btn-success", @type = "button", id = "proceedButton" })
</div>
@section Scripts {
    <script>
        $(function () {
            var selectedTickets = [];
            $(".seat.available").click(function () {
                $(this).toggleClass("selected");
                var ticketId = $(this).data("ticket-id");
             
                if ($(this).hasClass("selected")) {
                    selectedTickets.push(ticketId);
                } else {
                    selectedTickets = selectedTickets.filter(function (id) {
                        return id !== ticketId;
                    });
                }
            });
            $("#proceedButton").click(function () {
                if (selectedTickets.length > 0) {
                    var url = "@Url.Action("UpdateSeatStatus", "User")";
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: { ticketIds: selectedTickets },
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                } else {
                    alert("Please select at least one ticket....");
                }
            });
        });
    </script>
}